body{
    background-color: black;
}
#VG{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#R{
    display: grid;
    grid-template-columns: 1fr;
}
#top{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#title1{
    justify-content: end;
}
#title2{
    justify-content: start;
}
#topL{
    display: grid;
    padding-top: 13rem;
    padding-left: 1rem;
    justify-content: start;
    color: maroon;
    font-size: 5rem;
    text-shadow: 
    -5px -1px 6px rgba(244, 10, 213, 0.75) ,
     5px 1px 6px rgba(187, 223, 103, 0.558) ;
}
#topR{
    display: grid;
    padding-top: 13rem;
    padding-right: 1rem;
    justify-content: end;
    color: maroon;
    font-size: 5rem;
    text-shadow:
    -5px -1px 6px rgba(187, 223, 103, 0.558),
     5px 1px 6px rgba(244, 10, 213, 0.75);
}
.tvg{
    display: grid;
    margin: 0px;
    color: maroon;
    font-size: 7rem;
    text-shadow: 
    -6px -4px 10px rgba(75, 200, 200, .75) ,
     6px 5px 10px rgba(244, 119, 10, 0.75) ,
     6px -4px 10px rgba(244, 10, 213, 0.75),
    -6px 5px 10px rgba(187, 223, 103, 0.558);
}
.tr{
    display: grid;
    justify-self: center;
    margin: 0%;
    color: maroon;
    font-size: 5rem;
    text-shadow: 
    -6px -4px 10px rgba(75, 200, 200, .75) ,
     6px 5px 10px rgba(244, 119, 10, 0.75) ,
     6px -4px 10px rgba(244, 10, 213, 0.75),
    -6px 5px 10px rgba(187, 223, 103, 0.558);
}
#mid{
    display: grid;
    justify-content: center;
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr;
    color: aliceblue;
}
.midTopL{
    display: grid;
    justify-content:center;
    padding-top: 2rem;
    min-height: 100px;
    font-size: 3rem;
    font-weight: bolder;
    color: maroon;
    text-shadow: 
    -3px -1px 6px rgba(244, 10, 213, 0.75) ,
     3px 1px 6px rgba(187, 223, 103, 0.558) ;
}
.midTopR{
    display: grid;
    justify-content:center;
    padding-top: 2rem;
    min-height: 100px;
    font-size: 3rem;
    font-weight: bolder;
    color: maroon;
    text-shadow:
    -3px -1px 6px rgba(187, 223, 103, 0.558),
     3px 1px 6px rgba(244, 10, 213, 0.75);
}
.midTopC{
    display: grid;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: maroon;
    text-shadow:
    0px 1px 15px rgba(187, 223, 103, 0.9),
    0px -1px 15px rgba(244, 10, 213, 0.9);
}
.midBody{
    margin-top: 2rem;
    min-height: 400px;
    margin-left:2.5rem;
    margin-right: 2.5rem;
    justify-self: center;
}
.midM{
    margin-top: 2rem;
}

